@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    background-color: white;
}


.container{
    width: 1536px;
    margin: auto;
    padding: 0 50px 0 50px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 25px 30px ;
    border-radius: 14px;
    animation: fadeIn 0.5s;
}